footer.footer
    .footer__contact
        .footer__item
            h2.footer__item__header Liên Hệ với chúng tôi
            p
                i.fa.fa-map.cl-green
                |Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn,</br>P. Cống Vị, Q. Ba Đình, Hà Nội
            p
                i.fa.fa-phone-square.cl-green
                |(04) 6674 2332
                i.fa.fa-phone.cl-green
                |(04) 3786 8904
            p.cl-green
                i.fa.fa-phone-square
                span.cl_grey (08) 6680 9686
                i.fa.fa-mail-forward
                | Support@bizweb.vn
        .footer__item
            h2.footer__item__header Chuyển hàng
            p mua sắm trực tuyến
            p.cl-green Đến từ chúng tôi gửi đến
            p Chính sách vận chuyển
            p Vận chuyển thông tin
        .footer__item
            h2.footer__item__header Hỗ trợ
            p Câu chuyện của chúng ta
            p Thanh toán an toàn
            p Tùy chọn Vận Chuyển
            p Chính sách vận chuyển

        .footer__item
            h2.footer__item__header Thông tin
            p Về chúng tôi
            p Điều khoản & điều kiện
            p Chính sách riêng tư
            p Đơn đặt hàng và Returns
        .footer__item
            h2.footer__item__header My account
            p Xem Giỏ hàng
            p Sản phẩm yêu thích
            p kiểm tra
            p Theo dõi đặt hàng của tôi
    .footer__above
        .footer__above--left
            p © Copyright 2008-2014 DKT Technology JSC
        .footer__above--right
            img(src="../img/home/01_Home_01_47.jpg")
            img(src="../img/home/01_Home_01_49.jpg")
            img(src="../img/home/01_Home_01_51.jpg")
            img(src="../img/home/01_Home_01_53.jpg")
