doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Great+Vibes|Pinyon|Charm|+Script')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='../css/style.css' rel='stylesheet' type='text/css')
.contain_header
    .container.header
        p.header-logo
            span M
            | andala
        ul.header__primary
            li
                a(href="index.html") TRANG CHỦ
            li
                a(href="about-us.html") GIỚI THIỆU
            li.header__primary__product
                a(href="list.html") SẢN PHẨM
                //before: mui ten border, after dau tro xuong khi hvoer
                .menu-product
                    mixin item
                        .menu-product__item
                            h6.menu-product__item__title DƯỠNG DA
                            .menu-product__item__list
                                p Áo khoác
                                p Bộ áo liền quần
                                p Dress
                                p Quần/Váy
                                p Quần sort
                                p Quần jean
                                p Đồ đan
                                p Áo nỉ
                    +item
                    +item
                    +item

            li
                a(href="blog.html") TIN TỨC
            li
                a(href="contact.html") BẢN ĐỒ
            li
                a(href="register.html") ĐĂNG KÝ
        .header__right
            button
                a
                    i.fa.fa-shopping-cart
                .cart
                    .list__item
                        mixin item
                            .cart__item
                                img.cart__item__img(src="../img/home/cart-item.jpg")
                                .cart__item__description
                                    p.cart__item__description__name Áo sơ mi nam
                                    p.cart__item__description__price 120.000
                                        sup đ
                                a x
                        +item
                        +item
                    p.cart__sum-price Tổng số
                        span 240.000
                            sup đ
                    a.cart__button(src="shopping-cart.html") GIỎ HÀNG
            button
                a
                    i.fa.fa-search
            button
                a
                    i.fa.fa-bars
