doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Document
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Great+Vibes|Pinyon|Charm|+Script')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='../css/style.css' rel='stylesheet' type='text/css')
.contain_header
    .container.header
        p.header-logo
            span M
            | andala
        ul.header__primary
            li
                a(href="index.html") TRANG CHỦ
            li
                a(href="about-us.htm") GIỚI THIỆU
            li
                a(href="list.html") SẢN PHẨM
            li
                a(href="blog.html") TIN TỨC
            li
                a(href="contact.html") BẢN ĐỒ
            li
                a(href="register.html") ĐĂNG KÝ
        .header__right
            button
                a(href="shopping-cart.html")
                    i.fa.fa-shopping-cart
            button
                a
                    i.fa.fa-search
            button
                a
                    i.fa.fa-bars
