.list-content{
  margin-left: 20px;
  &__head {
    display: flex;
    justify-content: space-between;
    &__list{
      i{
        margin-right: 5px;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;

    .product {
      display: grid;
      justify-content: space-evenly;
      @media screen and (min-width: $screen-mobile) {
        grid-template-columns: 1fr;

      }
      @media screen and (min-width: $screen-tablet) {
        grid-template-columns: 1fr 2fr;

      }
      &__img{
        height: 100vh;
        width: 100vh;
        object-fit: cover;
      }
      &__detail {
        font-weight: bold;

        &__type {
          text-transform: uppercase;
          font-size: 16px;

        }
        &__buy{
          span{
            opacity: 0.5;
            font-weight: 500;
          }
        }
        &__text{
          font-size: 14px;
          opacity: 0.6;
          font-weight: 600;
        }
        &__price {
          font-family: Lobster;
          display: flex;
          font-size: 30px;
        }
        &__button button {
          padding: 14px;
          margin: 10px 2px;
          border-radius: 15px;
          border: solid 1px $grey;
          font-weight: bold;
          font-weight: bold;

          background: transparent;

          &:nth-child(2) {
            background: $green;
          }
          i {
            font-size: 10px;
            color: white;
          }
          i.fa-refresh{
            color: black;
          }
        }
      }
    }
  }
}