include modules/header

.container
    .link-intro
        a Home >
        a.cl-green Về chúng tôi >
h2.container.page__title VỀ CHÚNG TÔI

.container
    .about-us
        .about-us__content
            img.about-us__content__left(src="../img/about-us/about-us.png")
            .about-us__content__right
                p.header-logo
                    span M
                    | andala
                h3.about-us__content__right__text__title GIỚI THIỆU CHUNG VỀ MÝ PHẨM HANDMADE MANLADA
                p.about-us__content__right__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut autem consectetur culpa eius enim eveniet excepturi, facilis fuga fugiat, laudantium maiores modi molestiae natus, quaerat quo rem ut vero!
                p.about-us__content__right__more Xem thêm

include modules/footer
