include modules/header

.container
    .link-intro
        a Home >
        a.cl-green Blog >

.container.blog-detail
    .side-bar
        .side-bar__item
            h3.side-bar__item__header Bài viết mới nhất
            .side-bar__item__body
                .blog-new
                    img.blog-new__img(src="../img/blog-detail/2a.jpg")
                    p.blog-new__time
                        |11
                        span Tháng 5
                    p.blog-new__author Đăng bởi Giang Lê
                .blog-new
                    img.blog-new__img(src="../img/blog-detail/2a.jpg")
                    p.blog-new__time
                        | 11
                        span Tháng 5
                    p.blog-new__author Đăng bởi Giang Lê
                .blog-new
                    img.blog-new__img(src="../img/blog-detail/2a.jpg")
                    p.blog-new__time
                        | 11
                        span Tháng 5
                    p.blog-new__author Đăng bởi Giang Lê

        .side-bar__item
            h3.side-bar__item__header BLOG TAGS
            .side-bar__item__body
                button Đồng hồ
                button Túi
                button Phụ kiện
                button Đồng hồ
                button Túi
                button Giày
                button Sandal
                button Áo sơ mi
                button Nước hoa
                button Giày
                button Sandal
                button Trẻ em
                button Thời trang nữ
                button Trẻ em
                button Thời trang nữ
        img.side-bar__banner(src="../img/blog-detail/3.jpg")
    .blog-content
        .blog-content__head




include modules/footer
