include modules/header

.container
    .link-intro
        a Home >
        a Sản Phẩm >
        a.cl-green Trang Sức >
        a.cl-green Lắc tay
    hr

    .detail-product
        .detail-img
            .detail-img__list
                img(src="../img/detail/03_Detail_03.jpg")
                img(src="../img/detail/Layer 80.jpg")
                img(src="../img/detail/Layer 82.jpg")
                img(src="../img/detail/Layer 83.jpg")
                img(src="../img/detail/Layer 84.jpg")
                img(src="../img/detail/03_Detail_07.jpg")
            img.detail-img__product(src="../img/detail/Layer 86.jpg")
        .detail-description
            h5.detail-description__name Lắc tay TyFFanny xu hướng mới nhất
            p.detail-description__code Tyffancy ms 3201
            p.detail-description__price 955.000đ
                span.detail-description__price-old 999.000đ
            p.detail-description__text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ducimus ipsum magni placeat quas repellat totam. Aspernatur debitis nobis omnis quas quis, sed? Laborm molestiae nisi officiis quia veniam? Natus?
            form.detail-description__form
                div
                    label MÀU SẮC
                    select
                        option  Màu bạc
                div
                    label Size
                    select
                        option 12

                .product__detail__button
                    button MUA HÀNG
                    button
                        i.fa.fa-heart
                    button
                        i.fa.fa-heart

            .detail-description__social
                p Shopping &
                    span Returns
                a.cl-white.bg_blue-sky
                    i.fa.fa-facebook
                    | like
                p.detail-description__social__number 0
                a
                    i.fa.fa-twitter
                    | twitter
                p.detail-description__social__number 0
                a
                    i.fa.fa-google
                    | +1
                p.detail-description__social__number 0
                a
                    i.fa.fa-linkedin
                    |
                p.detail-description__social__number 0
                a
                    i.fa.fa-pinterest
                    |
                p.detail-description__social__number 0

    //description
    .more-detail
        .description-product
            .description-head
                p Đặc điểm nổi bật
                p Thông tin sản phẩm
                p Đánh gía
            hr
            .description-body
                .item
                    div
                        p.description-body__title
                            span THE MARK
                            | OF A LEGEND
                        p.description-body__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eligendi fuga nisi quod quos reiciendis repudiandae sint ullam velit. Adipisci aliquid consectetur consequatur culpa inventore laudantium provident, rerum velit?
                    img.description-body__img(src="../img/detail/Layer 88.jpg")
                .item
                    img.description-body__img(src="../img/detail/Layer 87.jpg")
                    div
                        p.description-body__title
                            span THE MARK
                            | OF A LEGEND
                        p.description-body__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eligendi fuga nisi quod quos reiciendis repudiandae sint ullam velit. Adipisci aliquid consectetur consequatur culpa inventore laudantium provident, rerum velit?
                .item
                    div
                        p.description-body__title
                            span THE MARK
                            | OF A LEGEND
                        p.description-body__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eligendi fuga nisi quod quos reiciendis repudiandae sint ullam velit. Adipisci aliquid consectetur consequatur culpa inventore laudantium provident, rerum velit?
                    img.description-body__img(src="../img/detail/Layer 85 copy.jpg")
                .item
                    img.description-body__img(src="../img/detail/Layer 86.jpg")

                    div
                        p.description-body__title
                            span THE MARK
                            | OF A LEGEND
                        p.description-body__text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eligendi fuga nisi quod quos reiciendis repudiandae sint ullam velit. Adipisci aliquid consectetur consequatur culpa inventore laudantium provident, rerum velit?

        .sibar-detail
            //product__best__seller
            .product-best
                h3.product-best__header Sản phẩm bán chạy
                hr
                mixin item
                    .product-best__item
                        img.product-best__item__img(src="../img/detail/Layer 31 copy.jpg")
                        .product-best__item__description
                            p Mỹ phẩm châu âu
                            p
                                each val in [1, 2, 3, 4]
                                    i.fa.fa-heart
                                span (4 lượt mua)
                            p 35.000đ
                +item
                +item
                +item
            //best buy
            .product-best
                h3.product-best__header Sản phẩm Mua Nhiều
                hr
                mixin item
                    .product-best__item
                        img.product-best__item__img(src="../img/detail/Layer 31 copy.jpg")
                        .product-best__item__description
                            p Mỹ phẩm châu âu
                            p
                                each val in [1, 2, 3, 4]
                                    i.fa.fa-heart
                                span (4 lượt mua)
                            p 35.000đ
                +item
                +item
                +item


include modules/footer