include modules/header

.container
    .link-intro
        a Home >
        a Sản Phẩm >
        a.cl-green Trang Sức >

.grid-banner
    img(src="../img/grid/banner-page.jpg")

.container.gridpage
    .sidebar-grid
        .sidebar-grid__item
            h3.sidebar-grid__item__header
                i.fa.fa-bars
                | Danh mục sản phẩm
            .sidebar-grid__item__body
                .list
                    ul
                        li Mỹ phẩm
                    i.fa.fa-caret-down
                .list
                    ul
                        li Trang sức
                        li vòng tay
                        li Nhẫn
                        li Lắc chân
                        li phụ kiện khác
                        li Giày
                    i.fa.fa-caret-down
                .list
                    ul
                        li Phụ kiện
                    i.fa.fa-caret-down
                .list
                    ul
                        li Nước hoa
                    i.fa.fa-caret-down
        .sidebar-grid__item
            h3.sidebar-grid__item__header So sánh sản phẩm

            .sidebar-grid__item__body
                p Bạn chưa có sản phẩm nào
        .sidebar-grid__item
            h3.sidebar-grid__item__header Tag sản phẩm
            .sidebar-grid__item__body
                    button Đồng hồ
                    button Túi
                    button Phụ kiện
                    button Đồng hồ
                    button Túi
                    button Giày
                    button Sandal
                    button Áo sơ mi
                    button Nước hoa
                    button Giày
                    button Sandal
                    button Trẻ em
                    button Thời trang nữ
                    button Trẻ em
                    button Thời trang nữ
        img.sidebar-grid__banner(src="../img/grid/04_Gird_03.jpg")

    .grid-content
        .grid-content__head
            .grid-content__head__list
                a(href="grid.html")
                    i.fa.fa-th-list
                a(href="list.html")
                    i.fa.fa-list-ul
            p.grid-content__head__paging
                i.fa.fa-caret-left
                span 1
                span 2
                span 3
                i.fa.fa-caret-right

        .grid-content__body
            .product
                img(src="../img/home/Product copy 9.png")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ

            .product
                img(src="../img/home/Product copy 4.png")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ
                    .product__detail__button
                        button MUA HÀNG
                        button
                            i.fa.fa-heart
                        button
                            i.fa.fa-refresh
            .product
                img(src="../img/home/01_Home_32.jpg")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ
            .product
                img(src="../img/home/01_Home_35.jpg")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ
            .product
                img(src="../img/home/01_Home_38.jpg")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ
                    .product__detail__button
                        button MUA HÀNG
                        button
                            i.fa.fa-heart
                        button
                            i.fa.fa-refresh
            .product
                img(src="../img/home/Product copy 10.png")
                .product__detail
                    .product__detail__type OHUI
                    .product__detail__name Mỹ phẩm châu Âu
                    img(src="../img/home/Shape 16 2.png")
                    .product__detail__price
                        .product__detail__price__new 35000
                            span đ
                        .product__detail__price__old 45000
                            span đ

        .grid-content__head
            .grid-content__head__list
                a(href="grid.html")
                    i.fa.fa-th-list
                a(href="list.html")
                    i.fa.fa-list-ul
            p.grid-content__head__paging
                i.fa.fa-caret-left
                span 1
                span 2
                span 3
                i.fa.fa-caret-right

include modules/footer
