include modules/header

//intro
.intro
    .intro__left
        img(src="../img/home/01_Home_03.jpg")
        h1.intro__left__header Green Vera
        p.intro__left__text Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
        p.intro__left__price Giá chỉ  750.000
            span đ
        p.intro__left__buy MUA HÀNG
    .intro__right
        img(src="../img/home/01_Home_02.jpg")

//present
.container
    .present
        .present__item
            p
                i.fa.fa-plane
            p Miễn phí vận chuyển
        .present__item
            p
                i.fa.fa-gift
            p Nhận ngay quà tặng trị giá 350.000đ
        .present__item
            p
                i.fa.fa-star
            p Giảm 30% cho đơn hàng trên 5.000.000đ

//combo
.container
    section.combo.combo1
        .combo__child
            //img(src="../img/home/product-1.png")
        .combo__child.bg-yellow
            .combo__child__description
                p.underline SỮA TẮM
            .triangle-left.cl-yellow
        .combo__child.bg_grey
            .combo__child__description
                p.underline NƯỚC HOA
        .combo__child.bg_grey
            .combo__child__description
                p Từ 1/6 - 5/6/2015
                p -40%
                p MUA HÀNG
            .triangle-right.cl_grey
        .combo__intro
    section.combo.combo2
        .combo__intro
            .combo__child__description
                p Compo Tắm Trắng
                p Tại Nhà
        .combo__child.bg_blue-sky
            .combo__child__description
                p.underline TRANG SỨC
            .triangle-right.cl_blue-sky
        .combo__child
        .combo__child
        .combo__child.bg_pink
            .triangle-left.cl_pink
            .combo__child__description
                img(src="../img/home/Layer 12.png")
                p Quyến rũ hơn
                p Cùng
                    span D A I S Y


//  team
.container
    section.team
        img.team__avatar(src="../img/home/01_Home_19.jpg")
        .team__description
            p.team__description__text
                span “
                |   Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
                span  ”
            p.team__description__position TutiLe _
                span _ Giám đốc phát triển sản phẩm

        //img.team__img__intro(src="../img/home/Layer 96.png")

//list-product
section.list-product
    h2.list-product__header
        p.list-product__header__item Sản phẩm mới
        p.list-product__header__item.list-product__header__item--selected Sản phẩm bán chạy
        p.list-product__header__item Sản phẩm đặc biệt
    .img
        img(src="../img/home/01_Home_44.jpg")
    .list-product__type
        p.list-product__type__item Mỹ phẩm
        p.list-product__type__item Chăm sóc da
        p.list-product__type__item Dành cho tóc
        p.list-product__type__item Nước hoa
        p.list-product__type__item.list-product__type__item--selected Trang sức
        p.list-product__type__item Quà tặng
    .products
        .product
            img(src="../img/home/Product copy 9.png")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ
        img.arrow_left(src="../img/home/arrow_left.jpg")
        .product
            img(src="../img/home/Product copy 4.png")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ
        .product
            img(src="../img/home/01_Home_32.jpg")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ
                .product__detail__button
                    button MUA HÀNG
                    button
                        i.fa.fa-heart
                    button
                        i.fa.fa-refresh

        .product
            img(src="../img/home/01_Home_35.jpg")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ
        .product
            img(src="../img/home/01_Home_38.jpg")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ
        img.arrow_right(src="../img/home/arrow-right.png")
        .product
            img(src="../img/home/Product copy 10.png")
            .product__detail
                .product__detail__type OHUI
                .product__detail__name Mỹ phẩm châu Âu
                img(src="../img/home/Shape 16 2.png")
                .product__detail__price
                    .product__detail__price__new 35000
                        span đ
                    .product__detail__price__old 45000
                        span đ

//about-us
section.social
    p.social--actived
        i.fa.fa-facebook
        | FACEBOOK
    p
        i.fa.fa-twitter
        | twitter
    p
        i.fa.fa-instagram
        | instagram
    p
        i.fa.fa-google
        | google
    p
        i.fa.fa-pinterest
        | pinterest
    p
        i.fa.fa-linkedin
        | linkedin

//about-us
.container
    section.abouts
        .about
            h3.about__header Về chúng tôi
            img.img_arrow(src="../img/home/01_Home_44.jpg")
            .about__description
                p.header-logo
                    span M
                    | andala
                p Giới thiệu chung về mỹ phẩm handmade Mandala
                p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
            .about__footer
                p Xem thêm
        .about
            h3.about__header Blog
            img.img_arrow(src="../img/home/01_Home_44.jpg")
            .about__description
                img(src="../img/home/Layer 69 copy.png")
                p Review son kem Bourjois Velvet
                p Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
                p Bởi NamTran (27/05/2015)
            .about__footer
                p Đọc thêm >
                p 23 Bình luận

        .about
            h3.about__header Gửi Email cho chúng tôi
            img.img_arrow(src="../img/home/01_Home_44.jpg")
            .about__description
                input(placeholder="Email của bạn")
                p Gửi email để nhận những ưu đãi mới nhất
                button Gửi
        .about
            h3.about__header TAG SẢN PHẨM
            img.img_arrow(src="../img/home/01_Home_44.jpg")
            .about__footer
                button Đồng hồ
                button Túi
                button Phụ kiện
                button Đồng hồ
                button Túi
                button Giày
                button Sandal
                button Áo sơ mi
                button Nước hoa
                button Giày
                button Sandal
                button Trẻ em
                button Thời trang nữ
                button Trẻ em
                button Thời trang nữ


include modules/footer
