include modules/header

.container
    .link-intro
        a Home >
        a.cl-green Login >

.container
    .login
        .login__head
            h1.form__title Đăng Nhập
            button.form__head__button Đăng ký
        form.form
            h3.form__title Khách hàng đăng ký
            p Nếu bạn có 1tài khoản,vui lòng đăng nhập
            .form-element
                label Địa chỉ email
                    span.upper-text *
                input
            .form-element
                label password
                    span.upper-text *
                input
            .form-element.form-element__button
                a Quên mật khẩu
                button Đăng nhập
include modules/footer
