include modules/header

.container
    .link-intro
        a Home >
        a Sản Phẩm >
        a.cl-green Giỏ hàng >

.container
    .shopping-cart
        table.table
            thead
                th Ảnh
                th Tên sản phẩm
                th Giá
                th Số lượng
                th Tổng số
                th Xóa
            tbody
                tr
                    td
                        img(src="../img/shopping cart/Layer 75.jpg")
                    td  Lắc tay D&G
                    td
                        |345.000
                        sup đ
                    td 1
                    td
                        | 345.000
                        sup đ
                    td
                        i.fa.fa-trash
                tr
                    td
                        img(src="../img/shopping cart/Layer 75.jpg")
                    td  Lắc tay D&G
                    td
                        | 345.000
                        sup đ
                    td 1
                    td
                        | 345.000
                        sup đ
                    td
                        i.fa.fa-trash
        .shopping-cart__button
             button Tiếp tục mua hàng
             button Xóa
             button Cập nhật

include modules/footer
