.grid-banner {
  height: 20vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #afb2b7 ;
  margin-bottom: 40px;
  @media screen and (min-width: $screen-mobile) {
    display: none;
  }
  @media screen and (min-width: $screen-tablet) {
    display: flex;
  }
  @media screen and (min-width: $screen-pc) {
  }
  &__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    color: white;

    &:first-child {
      font-family: Charm;
      font-size: 20px;
    }
    p {
      text-transform: uppercase;
    }
  }
  &__img {
    width: 40vh;
    height: 40vh;
  }
}

.gridpage {
  display: grid;

  @media screen and (min-width: $screen-mobile) {

  }
  @media screen and (min-width: $screen-tablet) {
    grid-template-columns: 1fr 0fr;
  }
  @media screen and (min-width: $screen-pc) {
    grid-template-columns: 1fr 4fr;
  }
}

.sidebar-grid {
  &__item {
    margin-bottom: 20px;
    &__header {
      @include font(16px, bold, black, null) {
        text-transform: uppercase
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      ul {
        border-bottom: dotted 1px grey;
        border-top: 0;;
        padding: 10px 0;
        border-right: 0;
        border-left: 0;
        list-style: circle;
        position: relative;
        margin: 0;
      }
      li {
        margin-left: 20px;
        @include font(14px, 500, #313131, null);
        &:first-child {
          margin: 0;
          @include font(15px, 500, #008100, null);
          text-transform: uppercase;
          position: relative;
          &::after {
            content: "▼";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 60%;
            line-height: 30px;
            padding: 0 7px;
            color: black;
            pointer-events: none;
          }

        }
      }
    }
    &:nth-child(2){
      font-size: 12px;
      color:grey;
    }
    &:nth-child(3){

      @include font($size: 14px, $style: italic, $color: $grey);
      button {
        width: auto;
        border: solid 1px $grey;
        background: transparent;
        padding: 3px 5px;
        &:nth-child(1){
          background: black;
          color:white;
        }
      }
      .sidebar-grid__item__body{
        display: inline;
      }
    }
  }
}

.grid-content{
  margin-left: 20px;
  &__head {
    display: flex;
    justify-content: space-between;
    &__list{
      a{
        color: black;
        i{
          margin-right: 6px;
        }
      }
    }
    &__paging{
      i,span{
        margin:  0 8px;
      }
    }
  }
  &__body {
    display: grid;
    @media screen and (min-width: $screen-mobile) {
      grid-template-columns: 1fr 1fr;

    }
    @media screen and (min-width: $screen-tablet) {
    }
    @media screen and (min-width: $screen-pc) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .product {
      &__detail {
        font-weight: bold;
        text-align: center;

        &__type {
          text-transform: uppercase;
          opacity: 0.4;

        }
        &__name {
        }
        &__price {
          font-family: Lobster;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          &__new {
            color: $green;
          }
          &__old {
            opacity: 0.4;
          }
        }
        &__button button {
          padding: 14px;
          margin: 10px 2px;
          border-radius: 15px;
          border: solid 1px $grey;
          font-weight: bold;
          font-weight: bold;

          background: transparent;

          &:nth-child(2) {
            background: $green;
          }
          i {
            font-size: 10px;
            color: white;
          }
          i.fa-refresh{
            color: black;
          }
        }
      }
    }
  }
}
