@charset "utf-8";
// ==========================================================================
// $vender
// ==========================================================================
@import "vendor/index";
// ==========================================================================
// $utilities
// ==========================================================================
@import 'utilities/index';
// ==========================================================================
// $Base
// ==========================================================================
@import 'base/base';
// ==========================================================================
// the header
// ==========================================================================
@import "modules/header";
@import "modules/table";
@import "modules/form";
//==========================================================
//all page page
//===========================================================
@import "pages/homes/index";
@import "pages/detail/index";
@import "pages/grid/index";
@import "pages/list/index";
@import "pages/cart/index";
@import "pages/account/index";
@import "pages/register/index";
@import "pages/login/index";
@import "pages/about-us/index";
@import "pages/contact/index";

//============================================================
// the footer of page
//============================================================
@import "modules/footer";
// ==========================================================
//animation
//===========================================================
@import "base/animations";

//////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
