.account{
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 20px;
  .table{
    tr{
      td{
        padding: 20px;
      }
      td:nth-child(3){
        color: red;
      }
    }
  }
  &-detail{
    &__head{
      @include underline;
      @include font(16px,500,black,null){text-transform: uppercase};
      padding-bottom: 20px;
    }
    &__body{
      i{
        margin-right: 10px;
      }
      p{
        margin-bottom: 5px;

        span{
          font-size: 18px;
        }
      }
    }
  }
}
